caution : only copy paste the text inside '<>'. 
'<' nor '>' is meant to be copied!



In terminal cd as server and enter this to make an .venv file < python -m venv .venv > then,
enter this <  .venv\Scripts\activate  > to activate your virtual environment 


and after activation the (.venv) will be coming written on your terminal
as now you are in your virtual environment now install the below given dependencies..



pip install --upgrade pinecone
pip install python-dotenv


and to exit .venv just enter < deactivate > in your terminal.

and and do not forget to add the .venv file to git ignore.