# Ignore node_modules everywhere
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Environment files
.env

# Vite cache
.vite/

# Mac/Windows system files
.DS_Store
Thumbs.db


# Python Virtual Environment files
.venv